force-app/main/default/flows/Create_a_PD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_PD_Value</name>
        <label>Set PD Value</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPD.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PD_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create a PD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create A PD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a new record for the product&apos;s PD</description>
        <name>Create_PD</name>
        <label>Create PD</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>varPD.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Set_PD_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varProduct.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PD_ID__c</field>
            <value>
                <elementReference>varProduct.ExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PD_URL__c</field>
            <value>
                <elementReference>varProduct.DisplayUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>varProduct.Description</elementReference>
            </value>
        </inputAssignments>
        <object>PD_Document__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_PD_Record</name>
        <label>Update PD Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>varPD</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_PD</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varPD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PD_Document__c</objectType>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
